.toggle {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  margin-bottom: var(--spacing-sm2);
}

.item {
  flex: 1;
  padding-block: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.itemActive {
  background: var(--color-primary);
}

.text {
  font-weight: 600;
  color: var(--color-text);
}

.textActive {
  color: #fff;
  font-weight: 700;
}
