.container {
  background: var(--color-background);
  padding: var(--spacing-lg);
}

.badge {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  background: var(--color-waiting);
  padding: var(--spacing-xs) 14px;
  border-radius: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}

.badgePulse {
  animation: pulse 1.8s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.badgeText {
  font-size: var(--font-subtitle);
  color: var(--color-white);
  font-weight: 600;
  
}

.badgePaid {
  background: var(--color-success-background);
}

.badgePaidText {
  color: var(--color-success);
  font-weight: 700;
  font-size: var(--font-subtitle);
}

.amountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}

.amountLabel {
  font-size: var(--font-body);
  color: var(--color-text-muted);
  margin-bottom: 4px;
}

.amount {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-text);
}

.qrContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}

.qrBox {
  padding: var(--spacing-lg);
  border-radius: var(--radius-lg);
  border: 2px dashed var(--color-border);
  background: var(--color-white);
}

.helperText {
  text-align: center;
  font-size: var(--font-body);
  color: var(--color-text-muted);
  margin-bottom: var(--spacing-md);
}

.pixCodeContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm2);
  background: var(--color-border);
  border-radius: var(--spacing-md);
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.pixCode {
  flex: 1;
  min-width: 0;
  font-size: var(--font-body);
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerCopy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: var(--color-primary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltipContainer {
  position: absolute;
  bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.balloon {
  background: var(--color-primary);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-xs);
}

.balloonText {
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: 500;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-primary);
}

.infoBox {
  background: var(--color-muted);
  border-radius: var(--spacing-md);
  padding: var(--spacing-md);
}

.infoText {
  font-size: var(--font-small);
  color: var(--color-white);
  text-align: center;
  line-height: 18px;
}
